<!-- Navigation Component -->
<nav>
    <div class="nav-container">
        <button class="mobile-menu-toggle">☰</button>
        <a href="home.html" data-page="main" style="display: flex; align-items: center;">
            <img src="../assets/images/logo/praivacy_black.jpg" alt="PrAIvacy" class="logo">
        </a>
        <ul class="nav-links">
            <li><a href="home.html#products" data-page="products">Products</a></li>
            <li><a href="team.html" data-page="team">Our Team</a></li>
            <li><a href="testimonials.html" data-page="testimonials">Testimonials</a></li>
            <li><a href="awards.html" data-page="awards">Awards</a></li>
            <li><a href="media.html" data-page="media">Gallery</a></li>
            <li><a href="home.html#contact" data-page="contact">Contact Us</a></li>
        </ul>
        <div class="mobile-menu">
            <ul class="nav-links">
                <li><a href="home.html#products" data-page="products">Products</a></li>
                <li><a href="team.html" data-page="team">Our Team</a></li>
                <li><a href="testimonials.html" data-page="awards">Testimonials</a></li>
                <li><a href="awards.html" data-page="testimonials">Awards</a></li>
                <li><a href="media.html" data-page="media">Gallery</a></li>
                <li><a href="home.html#contact" data-page="contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>